{{#with resume.basics}}
<section class="personal">
  <h1 class="name">{{name}}</h1>
  <div class="title">{{label}}</div>

  {{#if city}}<div>{{city}}, {{region}}</div>{{/if}}
  {{#if phone}}<div>{{phone}}</div>{{/if}}
  {{#if email}}<div>{{email}}</div>{{/if}}
</section>
{{/with}}
